<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EcoTechRevive{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'main/styles.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">EcoTechRevive</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'device_list' %}">Devices</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'team_details' %}">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'user_login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'user_register' %}">Register</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer bg-light mt-5">
        <div class="container">
            <span class="text-muted">&copy; 2024 EcoTechRevive. All rights reserved.</span>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
