{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<style>
    .about-us {
        position: relative;
        text-align: center;
        color: white;
        background: url("{% static 'main/images/about-us.jpg' %}") no-repeat center center;
        background-size: cover;
        padding: 150px 20px;
        margin-bottom: 40px;
    }

    .about-us-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-us h1 {
        font-size: 3em;
        margin: 0;
    }

    .about-us h3 {
        font-size: 1.5em;
        margin-top: 20px;
    }

    .content {
        background-color: #ffffff;
        padding: 40px 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
        max-width: 1200px;
        margin: auto;
    }

    .content h2 {
        color: green;
        margin-top: 20px;
    }

    .content p {
        font-size: 16px;
        line-height: 1.6;
        color: #666666;
        margin-bottom: 20px;
    }
</style>

<div class="about-us">
    <div class="about-us-overlay">
        <h1>About EcoTechRevive</h1>
        <h3>Revitalizing Technology, Reducing Waste</h3>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h2>Our Mission</h2>
            <p>
                EcoTechRevive is dedicated to revitalizing outdated and non-functional electronic devices,
                with a primary focus on mobile technology. Our mission is to redefine the lifecycle of electronic
                devices by refurbishing them to meet the highest standards of functionality, reliability, and
                aesthetics. We are committed to contributing to environmental sustainability by significantly
                reducing electronic waste and advocating responsible consumption practices in the tech industry.
            </p>
            <h2>Our Impact</h2>
            <p>
                Since our inception, we have processed over 30 million pounds of electronic waste, adhering
                to strict data security standards and helping to significantly reduce the environmental footprint
                of electronic waste. Our efforts extend beyond environmental impact, as we also focus on creating
                job opportunities and enhancing tech education in our community.
            </p>
            <h2>Get Involved</h2>
            <p>
                Join us in our mission to make technology more sustainable. Whether you're looking to recycle
                your old devices, volunteer at our events, or contribute to our cause, there are many ways to
                get involved and make a difference.
            </p>
        </div>
    </div>
</div>
{% endblock %}
