{% extends 'main/base.html' %}

{% block title %}Cart Details{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Your Cart</h1>
    {% if cart_items %}
    <div class="card">
        <div class="card-body">
            <ul class="list-group">
                {% for item in cart_items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <h4>{{ item.product.name }}</h4>
                            <p>
                                Quantity: {{ item.quantity }}
                                <a href="{% url 'increase_quantity' item.id %}" class="btn btn-sm btn-success ml-2">+</a>
                                <a href="{% url 'decrease_quantity' item.id %}" class="btn btn-sm btn-warning ml-2">-</a>
                            </p>
                        </div>
                        <img src="{{ item.product.product_image.url }}" alt="{{ item.product.name }}" class="img-thumbnail" style="max-width: 100px;">
                        <a href="{% url 'delete_cart_item' item.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'create_order' %}" class="btn btn-primary mt-3">Place the Order</a>
        </div>
    </div>
    {% else %}
    <div class="alert alert-info mt-4" role="alert">
        Your cart is empty. Please add some items to continue shopping.
        <a href="{% url 'shop' %}" class="btn btn-outline-success mt-2"><i class="fa fa-shopping-cart"></i> Shop Now</a>
    </div>
    {% endif %}
</div>
{% endblock %}
