{% extends 'main/base.html' %}
{% load static %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<h2 class="mb-4">Set New Password</h2>

{% if form.errors %}
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Set New Password</button>
</form>
{% endblock %}
