{% extends "main/base.html" %}
{% block title %}Explore our products{% endblock %}
{% block content %}
{% load static %}
{% if products %}
<h3 style="text-align:center; color:#3E454C;">Explore Our Products</h3>
<br>

<!-- products data start -->
<div class="row">
  {% for p in products %}
  <!-- card1 -->
  <div class="column">
    <div class="container page-wrapper" style="width: 450px;">
      <div class="page-inner">
        <div class="row">
          <div class="el-wrapper">
            <div class="box-up">
              <img class="img" src="{{ p.product_image.url }}" alt="product pic" height="300px" width="300px">
              <div class="img-info">
                <div class="info-inner">
                  <span style="background-color:#3e454c; color:#fbfbfb;" class="p-company">{{ p.name }}</span>
                </div>
                <div class="a-size">{{ p.description }}</div>
              </div>
            </div>
            <div class="box-down">
              <div class="h-bg">
                <div class="h-bg-inner"></div>
              </div>
{#                <a class="cart" href="{% url 'add_to_cart' p.id %}">#}
                <a class="cart" href="{% url 'add_to_cart' p.id %}">
                <span class="price">${{ p.price }}</span>
                <span class="add-to-cart">
                  <span class="txt"><i class="fa fa-shopping-cart"></i> Add To Cart</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- card1 end -->
  {% if forloop.counter|divisibleby:"3" %}
</div>
<div class="row">

  {% endif %}
  {% endfor %}
</div>
<!-- products data end -->
    <!-- View Cart Button -->
<div class="container mt-4 text-center">
  <a href="{% url 'cart_detail' %}" class="btn btn-custom"><i class="fa fa-shopping-cart"></i> View Cart</a>
</div>
{% else %}
<h3 style="text-align:center; color:#3E454C;">No Search Found</h3>
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const messages = {{ messages_list|safe }};
    messages.forEach(message => {
      alert(message);
    });
  });
</script>

    <style>
  .btn-custom {
    background-color: #558755; /* black background */
    color: white; /* green text */
    border-color: white; /* green border */
  }
</style>
{% endblock %}